* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0fffe;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#content {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#left_content {
    background-color: aquamarine;
}

#right_content {
    background-color: chartreuse;
}

#center_content {
    display: flex;
}

.home_content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
}

.cart_content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.home_product {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.cart_product {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.product button {
    border: none;
    border-radius: 5px;
    color: mistyrose;
    background-color: midnightblue;
    padding: 5px;
    cursor: pointer;
}

.product_quantity {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
}

.minus_quantity {
    width: 26px;
    height: 26px;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.plus_quantity {
    width: 26px;
    height: 26px;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
}

#mp3 {
    visibility: hidden;
}

.form {
    width: min-content;
    display: flex;
    flex-direction: column;
}

.form_content {
    display: flex;
    flex-direction: column;
}

