<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page">
        <header id="header">
            <p class="admin">Админка</p>
            <a href="/home" class="back_in_mag menu_btn admin_btn">В магазин</a>
        </header>
        <div id="main_content">
            <div id="admin_panel">
                <div id="admin_menu">
                    <button id="product_btn" class="admin_panel_btn">Товары</button>
                    <button id="category_button" class="admin_panel_btn">Категории товаров</button>
                    <button id="user_btn" class="admin_panel_btn">Пользователи</button>
<!--                    <button id="order_btn" class="admin_panel_btn">Заказы</button>-->
                    <button id="image_btn" class="admin_panel_btn">Изображения</button>
                </div>
                <div id="admin_content">

                </div>
            </div>
        </div>

    </div>
    <script src="admin.js"></script>
</body>
</html>