<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        ADMIN
    </header>

    <div id="admin_panel">
        <div id="admin_menu">
            <button id="product_btn">Товары</button>
            <button id="category_button">Категории товаров</button>
            <button id="user_btn">Пользователи</button>
            <button id="order_btn">Заказы</button>
        </div>
        <div id="admin_content">

        </div>
    </div>
    <script src="admin.js"></script>
</body>
</html>