<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  Home
  <hr>
  <header id="header">
      <div>
          <p>WebStore</p>
      </div>
      <div>
          <a href="http://localhost:8080/home">Главная</a>
          <a href="http://localhost:8080/contacts">Контакты</a>
      </div>
      <div>
          <p id="user"></p>
      </div>
  </header>
  <div id="content">
      <div id="left_content">dfgdfg</div>
      <div id="center_content">dfgdfgdf</div>
      <div id="right_content">dfgdfg</div>
  </div>
      <hr>
      <button id="addProductBtn">Добавить</button>
      <hr>
  <footer>

  </footer>
  <!--  <button id="btn">Запросить</button>-->
  <!--  <br>-->
  <!--  <hr>-->
  <!--  <form action="/login" method="post">-->
  <!--      <input type="text" name="username" id="username">-->
  <!--      <input type="password" name="password" id="password">-->
  <!--      <button type="submit">sign in</button>-->
  <!--  </form>-->
  <!--  <hr>-->
  <!--  <br>-->
<!--  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>-->
<!--  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
  <script src="script.js"></script>
</body>
</html>