<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  Home
  <hr>

  <p id="user">Заглушка</p>

  <hr>

  <button id="addProductBtn">Добавить</button>

  <hr>
<!--  <button id="btn">Запросить</button>-->
<!--  <br>-->
<!--  <hr>-->
<!--  <form action="/login" method="post">-->
<!--      <input type="text" name="username" id="username">-->
<!--      <input type="password" name="password" id="password">-->
<!--      <button type="submit">sign in</button>-->
<!--  </form>-->
<!--  <hr>-->
<!--  <br>-->
  <script src="script.js"></script>
</body>
</html>