<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header id="header"></header>

    <div id="content">
        <div id="left_content">dfgdfg</div>
        <div id="center_content">dfgdfgdf</div>
        <div id="right_content">dfgdfg</div>
    </div>

    <script src="menu.js"></script>
    <script src="home.js"></script>
    <script src="cart.js"></script>
    <script src="user.js"></script>

</body>
</html>